@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap'); 


:root {
    --smallFont: "Source Serif 4", serif;
    --bigFont: "Moderustic", sans-serif;
    --mainBack: rgb(81, 143, 160);
    --hoover: rgb(37, 72, 82);
    --darker: rgb(9, 44, 43);
}


.source-serif-4-type {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

.moderustic-type {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
    overflow: hidden;
}

/* .grid-item {
    border: 2px solid red;
} */

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%; 
    background-color: var(--mainBack);
    justify-items: start;
    position: sticky;
    top: 0;
}

.header {
    grid-column: 2;
    grid-row: 1;
    font-family: var(--bigFont);
    box-shadow: 0 4px 2px -2px gray;
    background-color: rgb(232, 244, 243);
}

.main {
    grid-column: 2;
    grid-row: 2;
}


.dashboard-ul {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 20px;
}

.info1 {
    grid-row: 8;
    grid-column: 1;
}

.info2 {
    grid-row: 9;
    grid-column: 1;
}

.info3 {
    grid-row: 10;
    grid-column: 1;
}

    li .material-symbols-outlined,
    h1 .material-symbols-outlined {
        color: white;
        padding-right: 1vw;
    }
    
    .sidebar-container > h1 {
        color: white;
        padding-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h1 > .material-symbols-outlined {
        font-size: 1.5em;
    }
    
    li {
        font-family:var(--smallFont);
        list-style-type: none;
        color: white;
        display: flex;
        justify-content: flex-start;
    }


    .search-bar {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .account-holder, .account-search {
        display: flex;
        align-items: center;
        font-size: 2vw;
    }

    .account-holder .material-symbols-outlined,
    .account-search .material-symbols-outlined {
        color: var(--darker);
        padding-right: 1vw;
        font-size: 2vw;
    }

    .account-search {
        padding-left: 1em;
    }
    .account-search input {
        width: 70%;
        border-radius: 10px;
        padding-left: 1em;
        background-color: rgb(202, 202, 202);
    }

    .account-search input:hover {
        background-color: rgb(160, 160, 160);
    }

    .account-holder p {
        padding-left: 2vw;
        font-family: var(--smallFont);
    }

    .title-bar {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .selection-item {
        color: black;
    }


.welcome-part {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%; 
    gap: 10px; 
    padding-left: 2em;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.text-container > p,
.text-container > h2 {
    margin: 5px;
}

.text-container > p {
    font-family: var(--smallFont);
    font-weight: 700;
}

.text-container > h2 {
    font-family: var(--bigFont);
}


.selection-item:hover {
    background-color: var(--hoover);
}


.account-holder span, 
.account-holder img,
.account-search span,
li {
    cursor: pointer;
}

.selection {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: 0.5fr;
    justify-items: center;
    align-items: center;
    padding-left: 10em;
    padding-right: 2em;
}

.selection-item {
    background-color: var(--mainBack);
    padding: 0.5em 2em;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: var(--smallFont);
    font-weight: 600;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* padding: 40px; */
}

.main-container {
    grid-column: 1;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 40px 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}


.assesments {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
}

.card-container {
    grid-auto-columns: minmax(150px, 1fr);
    background-image: linear-gradient(rgb(250, 242, 242), rgb(117, 142, 157));
    color: var(--darker);
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 0 10px 10px 10px;
}

.main-container > h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.about {
    display: flex;
    justify-items: flex-start;
    flex-flow: column;
    padding: 15px 5px;
}

.about > h3, .about > p {
    padding: 0;
    margin: 0;
}